{{define "content"}}
{{template "header"}}

{{range .Posts}}
	<h2>Editing {{.Title}}</h2>
	<form method="POST">
		{{if .ID}}<input type="submit" name="deleteButton" value="Delete!"><br>{{end}}
		Title: <input type="text" name="title" value="{{.Title}}"><br>
		Author: <input type="text" name="author" value="{{.Author}}"><br>
		<fieldset>
			<legend>Tags</legend>
			<input type="checkbox" name="thecalamity">
			<input type="checkbox" name="bingolittle">
			<input type="checkbox" name="aweatherman">
			<input type="checkbox" name="figurinesofthewretched">
	   </fieldset>
		<div class="EditPostBody">
			<textarea name="body" rows="50" cols="80">{{.Body}}</textarea>
		</div>
		<input type="submit" name="saveButton" value="Save">
	</form>
{{end}}
{{template "footer"}}
{{end}}
