{{define "content"}}
{{template "header"}}

{{range .Posts}}
	<h2>Editing {{.Title}}</h2>
	<form method="POST">
		<input type="submit" name="refreshButton" value="Refresh pages">
		{{if .ID}}<input type="submit" name="deleteButton" value="Delete!"><br>{{end}}
		Title: <input type="text" name="title" value="{{.Title}}"><br>
		Author: <input type="text" name="author" value="{{.Author}}"><br>
		<fieldset>
			<legend>Tags</legend>
			<label><input type="checkbox" name="thecalamity">The Calamity</label>
			<label><input type="checkbox" name="aweatherman">A Weatherman</label>
			<label><input type="checkbox" name="bingolittle">Bingo Little</label>
			<label><input type="checkbox" name="figurinesofthewretched">Figurines OTW</label>
	   </fieldset>
		<div class="EditPostBody">
			<textarea name="body" rows="30" cols="80">{{.Body}}</textarea>
		</div>
		<input type="submit" name="saveButton" value="Save">
	</form>
{{end}}
{{template "footer"}}
{{end}}
